# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tom.Stadermann\IdeaProjects\NORDAKADEMIE\NAK_PdSE\NAK_CSV_Import\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
